nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: aliceblue;
}

nav li{
  display: inline-block;
  margin-right: 20px;
}

body{
    background-color: aquamarine;
    color: #ff00c8;

    max-width: 700px;
    max-width: 70ch;
    margin-left: auto;
    margin-right: auto;
}   

img, video{
      max-width: 100%;
    height: auto;
}
h1{
    color: #862cda;
}